<article>
  <h2>
    Edit Post:
  </h2>
  <form class='edit-post-form'>
    <div>
      <h3>
        Title:
      </h3>
      <input name='post-title' type='text' value='{{post.title}}' />
      <h3>
        Blog:
      </h3>
      <textarea name='post-blog'>{{post.blog}}</textarea>
    </div>
    <button type='submit' class="save-post-btn">Save post</button>
    <button type='button' class='delete-post-btn'>Delete post</button>
  </form>
</article>

<script src='/js/edit-post.js'></script>
<script src='/js/delete-post.js'></script>